import um{{properCase name}} from '../src/{{name}}.vue';

export default{
    title:'um{{properCase name}}',
    component:um{{properCase name}}
}

export const Text = ()=> ({
    components:{ um{{properCase name}} },
    template:`
    <div>
        <um-{{name}}></um-{{name}}>
    </div>
    `,
    data() {
        return {
            
        }
    },
})